body {
    background-color: rgb(145, 249, 229);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

h2 {
    font-family: Poiret One;
    color: #304440;
}

#title {
    font-family: Lobster Two;
    text-align: center;
    font-size: 4em;
}

#second-title {
    font-family: Unica One;
    text-align: center;
    color: #304440;
}

p {
    font-family: Sue Ellen Francisco;
    font-size: 22px;
}

ul {
    padding: 10px;
    background: rgba(0,0,0,0.50);
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}  

header {
    text-align: center;
    background: url("images/background2.jpg");
    background-size: cover;
    padding: 30px 0px 0px 0px;
    color:white;
}

#dog1, #dog2 {
    border: 4px double gray;
}

a {
    color: white;
    font-family: Comfortaa;
    text-align: center;
}

.author-link {
    text-align: center;
}

article {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.page-img {
    border: 4px double gray;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#animal-link {
    text-align: center;
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 0px solid #000000;
    border-radius: 19px;
    background: #489182;
    background: -webkit-gradient(linear, left top, left bottom, from(#489182), to(#489182));
    background: -moz-linear-gradient(top, #489182, #489182);
    background: linear-gradient(to bottom, #489182, #489182);
    font: normal normal 12px Comfortaa;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    background: #56ae9c;
    background: -webkit-gradient(linear, left top, left bottom, from(#56ae9c), to(#56ae9c));
    background: -moz-linear-gradient(top, #56ae9c, #56ae9c);
    background: linear-gradient(to bottom, #56ae9c, #56ae9c);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #2b574e;
    background: -webkit-gradient(linear, left top, left bottom, from(#2b574e), to(#489182));
    background: -moz-linear-gradient(top, #2b574e, #489182);
    background: linear-gradient(to bottom, #2b574e, #489182);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 11px;
    width: 11px;
    line-height: 16px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABiUlEQVQ4jcXTz0qUYRTH8c87Dc2fmhiITEFRRloopDObWgXTDdgltBs3YXUDhW1azvqdTX+gC9ArmLZtHEFtIQxTyAS1EYVUMp8W7zuDg9DGoAd+PHDgfM/vOc85UQjBZU7mUtn/ApCFKIqERqOO51hCD+/RRBmrabyMdTTFcRuiEALLy1XFmxuma0xWOD3ky2e6nTaqZu+Xjc+Rucr3Lt92OOg/FMftbOqkaXye25XkUaUSC/fIhrpckam7nOG3pEAW2/0maoMe1E3MJckD5XBrjNJ18hIV0nuiAtXzTew52R8FZHAtn6iQAjMSJz8PpX0aApr6W5wejQLyOYo5ojTxDMdH9DbhzbCJ6S+8MDazanaeqUmupJUiFEucYG+P7g4/ei/F8asRAIRGYwnvLD4oq8zx6zhxUsiz1WH70z4ei+P1wRyMAFLIAtZUqjPu1BInuxvsdjp4FLVaX8+P/wVACrmBj6YXqyL0Nt/iadRqHcDI/vxtmcKTlQ9h5dnrC/EQhor++zb+AXzNjIrY4iEhAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

@media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
    }
      header {
          }
    }
